#celebrities {
    background-color: #810000;
    @include sectionStyle;
    height: auto;
    width : 100vw;

    h2 {
        @include h2Style;
        color     : $secondary-color;
        text-align: center;
    }

    .celebContainer {
        display       : flex;
        flex-direction: column;

        .celeb {
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : center;
            padding        : 2rem;


            &:hover img {
                transform    : scale(1.05);
                border-radius: 30%;
            }

            img {
                border             : 0.7rem solid $secondary-color;
                border-radius      : 50%;
                max-height         : 239px;
                max-width          : 239px;
                aspect-ratio       : 1/1;
                transition-duration: 0.5s;


            }

            h3 {
                font-family: "Allura",
                    cursive;
                font-size: 2.5rem;
                padding  : 1.5rem;
                color    : $secondary-color;
            }
        }
    }
}

@media screen and (min-width:426px) {
    #celebrities {
        height: auto;

        .celebContainer {
            flex-direction : row;
            flex-wrap      : wrap;
            justify-content: space-around;
            align-items    : center;
        }
    }
}